$speaker-button-color:          #828282;
$speaker-slider-color:          #e4e4e4;
$speaker-slider-bar-color:      #828282;

$speaker-slider-bar-height:     6px;
$speaker-slider-bar-width:      50px;

$speaker-slider-bar-margin-top: 14px;