.speakerDirective {
    display: inline-block;
    vertical-align: top;

    &__svg {
        cursor: pointer;
        svg {
            fill: $speaker-button-color;
            .cross {
                display: none;
            }
            .wave{
                display: block;
            }
        }
        &--off {
            svg {
                .wave {
                    display: none;
                }
                .cross{
                    display: block;
                }
            }
        }
    }

    &__sliderVolume {
        margin-top: $speaker-slider-bar-margin-top;
        width: $speaker-slider-width;
        height: $speaker-slider-height;
        background-color: $speaker-slider-color;
        @include border-radius(5px);
        &__bar {
            cursor: pointer;
            height: $speaker-slider-height;
            width: 20%;
            background-color: $speaker-slider-bar-color;
            @include border-radius(5px 0 0 5px);
        }
    }
}
